<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>My Spring Boot App</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
</head>
<body>
<header>
    <img th:class="'cover logo'" src="/img/logo.jpeg" alt="Logo image">
</header>
<section>
    <h2>Apprendre Spring Boot 3 avec des projets réels</h2>
    <a href="https://spring.io/projects/spring-boot#learn" target="_blank">détails</a>
    <img th:class="'cover image'" src="/img/image.png" alt="Spring Boot">
    <div th:if="${showDetails}">
        <div th:replace="~{fragments/details.html :: content('en')}"></div>
    </div>
</section>
<footer>
    <p th:class="'light-text'">ISET TOZEUR</p>
</footer>
</body>
</html>